[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-admin-rangefilter = "*"
django-cors-headers = "*"
djangorestframework = "*"
openpyxl = "*"
sqlparse = "*"
knox = "*"
cryptography = "*"
django-rest-knox = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.11"
