{% extends "admin/change_list.html" %}

{% block object-tools-items %}
  <li>

    <a href="/kalibrasyonApp/excel_view" class="addlink">
     Excel Yükle 
    </a>
 
  </li>

  {{ block.super }}
{% endblock %}
{% block extrastyle %}{{ block.super }}
<style>
:root {
  --primary: #4C0033;
  --secondary: #790252;
  --link-fg: #AF0171;
  --link-selected-fg: #E80F88;
  --header-branding-color:#ffff;
  --header-link-color:#E2DEA9;
  --accent:#E2DEA9
}
#header{
    color:#ffff
  }
  
    
</style>
{% endblock %}